@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}


html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    color: #ffffff;
} 

.hero{
    background-image: url('images/globe.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    position: relative;
    height: 60rem;
}

.hero-image{
    height: 20rem;
}

h1{
    position: absolute;
    top: 16rem;
    left: 25%;
    letter-spacing: 3px;
    font-size: 6rem;
    font-weight: 600;
}

form input{
    position: absolute;
    left: 32%;
    top: 42rem;
    border: none;
    padding: 1.2rem 17rem;
    border-radius: 10rem;
}

.btn{
    position: absolute;
    top: 34rem;
    background-color: blueviolet;
    border: none;
    font-size: 1.7rem;
    color: #fff;
}

.btn-start{
    left: 35%;
    padding: 12px 13px;
}
.btn-search{
    left: 46.2%;
    padding: 12px;
}

.btn-sort{
    left: 62%;
    background-color: blueviolet;
    padding: 4px;
}