@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}


html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    color: rgba(72, 8, 118, 0.885);
    z-index: 1;
} 

.hero{
    background-image: url('images/globe.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    position: relative;
    height: 60rem;
}

h1{
    position: absolute;
    top: 16rem;
    left: 25%;
    letter-spacing: 3px;
    font-size: 6rem;
    font-weight: 600;
}

h5{
    position: absolute;
    top: 43%;
    left: 55rem;
    font-size: 2.5rem;
    font-weight: 500;
}

p{
    position: absolute;
    top: 49%;
    left: 60rem;
    font-size: 2rem;
    font-weight: 400;
}

#img{
    height: 3.3rem;
}

#search{
    position: absolute;
    left: 33%;
    top: 42rem;
    padding: 1.2rem ;
    width: 47rem;
    font-size: 2rem;
    border: none;
}

#search::placeholder{
    font-size: 2rem;
    text-align: start;
}

#main{
    padding: 5%;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2rem;
}

.card{
    position: relative;
    border: 1px solid #000;
    border-radius:5px;
    text-align: center;
    background: url("images/map.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 15rem;
    margin: 6px;
    height: 10rem;
    padding: 30px;
    font-size: 1.5rem;
    font-weight: 500;
    z-index: 2;
    color: rgb(130, 18, 210);
}

.card::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;  
    backdrop-filter: blur(10px);
    background-color: rgba(128, 128, 128, 0.5);  
    z-index: 1;  
}

.search{
    position: absolute;
    left: 66%;
    top: 42rem;
    height: 4.6rem;
    background-color: rgb(163, 81, 240);
    padding: 1rem;
}

.btn{
    position: absolute;
    top: 34rem;
    background-color: rgb(163, 81, 240);
    border: none;
    font-size: 1.7rem;
    color: #fff;
}

.btn-start{
    left: 35%;
    padding: 12px 13px;
}
.btn-search{
    left: 46.2%;
    padding: 12px;
}

.btn-sort{
    left: 62%;
    background-color: rgb(163, 81, 240);
    padding: 4px;
}

@media only screen and (max-width: 768px) {
    .hero {
        height: 30rem;
    }

    h1 {
        top: 10%;
        left: 12%;
        font-size: 2.5rem;
    }

    h5 {
        left: 18%;
        top: 28%;
        font-size: 1.8rem;
        font-weight: 400;
    }

    p {
        left: 25%;
        top: 38%;
        font-size: 1.6rem;
        font-weight: 500;
        color: rgba(70, 0, 119, 0.885);
    }

    #search {
        left: 10%;
        top: 70%;
        width: 60%;
    }

    .search{
        position: absolute;
        left: 72%;
        top: 71%;
        height: 4.6rem;
    }

    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        width: auto;
    }

    .btn{
        position: absolute;
        top: 49%;
        background-color: rgb(163, 81, 240);
        border: none;
        font-size: 1.3rem;
        color: #fff;
    }

    .btn-start {
        left: 8%;
    }

    .btn-search {
        left: 36%;
    }

    .btn-sort {
        left: 74%;
    }
}