@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}


html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    color: #f1f1f1;
    background-color: rgb(251, 243, 229);
} 

.hero{
    background: url('/images/globe.jpeg');
    filter: blur(50%);
}